* {
  box-sizing: border-box;
}

.experience-heading {
    font-size: 18px;
    font-weight: bold;
}

.experience-sub-heading {
  color: #000;
  opacity: 0.4;
  font-size: 15px;
}

.experience-desc {
  color: rgba(0, 0, 0, 0.7);
}

li.experience-desc-list-item {
  margin: 0;
  text-align: left;
  letter-spacing: 0;
  list-style: disc;
  padding: 0;
  color: rgba(0, 0, 0, 0.7);
  font-size: 15px;
}

/* The actual experience (the vertical ruler) */
.experience {
  position: relative;
  max-width: 2400px;
  margin: 0 auto;
}

/* The actual experience (the vertical ruler) */
.experience::after {
  content: "";
  position: absolute;
  width: 10px;
  background-color: #f2f3f7;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.experience-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the experience */
.experience-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -15px;
  background-color: #f2f3f7;
  border: 4px solid #ff9f55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.experience-left {
  left: 0;
}

/* Place the container to the right */
.experience-right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.experience-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #f2f3f7;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #f2f3f7;
}

/* Add arrows to the right container (pointing left) */
.experience-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #f2f3f7;
  border-width: 10px 10px 10px 0;
  border-color: transparent #f2f3f7 transparent transparent;
}

/* Fix the circle for containers on the right side */
.experience-right::after {
  left: -10px;
}

/* The actual content */
.experience-content {
  padding: 20px 30px;
  background-color: #f2f3f7;
  position: relative;
  border-radius: 6px;
}


/* Media queries - Responsive experience on screens less than 600px wide */
@media screen and (max-width: 800px) {
  /* Place the experience to the left */
  .experience::after {
    left: 31px;
  }

  /* Full-width containers */
  .experience-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows are pointing leftwards */
  .experience-container::before {
    left: 60px;
    border: medium solid #f2f3f7;
    border-width: 10px 10px 10px 0;
    border-color: transparent #f2f3f7 transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .experience-left::after,
  .experience-right::after {
    left: 20px;
  }

  /* Make all right containers behave like the left ones */
  .experience-right {
    left: 0%;
  }
}
