#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("/img/bg-img.jpg");
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  #home-text {
    position: absolute;
    top: 15%;
    left: 10%;
    color: ghostwhite;
  }

@media (max-width: 1000px) {
    #home-text {
      top: 75%;
      left: 15%;
    }
  }