.skills-progress-bars .progress {
  height: 10px;
  font-size: 10px;
}

.bg-reactjs {
  background-color: #61dafb;
}

.bg-ionic {
  background-color: #548fff;
}

.bg-sharepoint {
  background-color: #0078d7;
}
