.work .row {
  margin: 0;
}

.work-container {
  /* height: 300px; */
  position: relative;
  width: 100%;
  overflow-y: scroll;
}

.work-project {
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.bell-canada {
  background-color: #003778;
}

.drl {
  background-color: #573e96;
}

.bell-canada,
.drl {
  color: white;
}

.project-title-client {
  text-align: center;
  padding: 40% 0;
}

.project-title-client .project-title {
  font-size: 30px;
  font-weight: bold;
}

.project-title-client .project-client-title {
  font-size: 20px;
}

/* Hover Data CSS Starts */

.work-project-details {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 10px;
}

.work-container:hover .project-title-client {
  opacity: 0;
}

.work-container:hover .work-project-details {
  opacity: 1;
}

.details {
  color: white;
  font-size: 18px;
}

.details-title {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 10px;
}

.details-description {
  font-size: 15px;
  padding: 0 10px 5px;
}

/* Hover Data CSS Ends*/

@media (max-width: 600px) {
  .project-title-client {
    padding: 30% 0;
  }

  .work-project-details {
    top: 35%;
  }

  .work-project-details.uppm {
    top: 40%;
  }
}

@media (min-width: 600px) and (max-width: 1023px) {
  .project-title-client {
    padding: 54% 0;
  }

  .work-project-details.bell-ca {
    top: 60%;
  }

  .work-project-details.ocio {
    top: 45%;
  }

  .work-project-details.uppm {
    top: 65%;
  }

  .work-project-details.wpm {
    top: 40%;
  }
}

@media (min-width: 1023px) and (max-width: 1400px) {
  .project-title-client {
    padding: 48% 0;
  }

  .work-project-details.bell-ca {
    top: 50%;
  }

  .work-project-details.ocio {
    top: 40%;
  }

  .work-project-details {
    top: 50%;
  }

  .work-project-details.wpm {
    top: 35%;
  }
}

@media (min-width: 1400px) and (max-width: 2000px) {
  .project-title-client {
    padding: 30% 0;
  }

  .work-project-details {
    top: 35%;
  }

  .work-project-details.bell-ca {
    top: 40%;
  }

  .work-project-details.wpm {
    top: 30%;
  }

  .work-project-details.uppm {
    top: 40%;
  }
}

@media (min-width: 2000px) {
  .project-title-client {
    padding: 17% 0;
  }
}
